*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
 

.hero{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(45deg, #130035, #5b06fa);
    color: #fff;
    position: relative;
}
.container{
    width: 800px;
    height: 180px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.clock{
    width: 1005;
    height: 100%;
    background: rgba(19, 1, 12, 0.11);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.clock span{
    font-size:80px ;
    width: 110;
    display: inline-block;
    text-align: center;
    position: relative;
}
